.theme-dark {
  --background-tertiary: #000 !important;
  --background-primary: #000 !important;
  --background-secondary: #000 !important;
  --background-secondary-alt: #000 !important;
  --channeltextarea-background: #000 !important;
  --background-modifier-selected: #000 !important;
  --channels-default: #fff !important;
  --interactive-active: #fff !important;
  --scrollbar-auto-thumb: #111 !important;
  --scrollbar-auto-track: #000 !important;
  --__header-bar-background: #000 !important;
  --home-background: #000 !important;
}

.container-q97qHp {
  color: #fff !important;
}

.scroller-3X7KbA {
  background-color: #000 !important;
}

.icon-2xnN2Y {
  fill: #fff !important;
}

.activityText-1rR-8O {
  color: #fff !important;
}

.icon-2W8DHg {
  fill: #fff !important;
}

.icon-18rqoe {
  color: #fff !important;
}

.contents-3NembX svg {
  fill: #fff !important;
}