@import url('https://fonts.googleapis.com/css2?family=Ubuntu');

* {
  font-family: 'Ubuntu', sans-serif !important;
}

body {
  background-image: url('https://media.discordapp.net/attachments/1121240648289357836/1139750130300502016/cloudy-black-and-purple-phone-pvavl01vhe96nqfx.jpg?width=226&height=402') !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  
}

.theme-dark, .theme-light {
  --background-tertiary: transparent !important;
  --background-floating: #28003d !important;
  --modal-background: #28003d !important;
  --modal-footer-background: #28003d !important;
  --background-primary: transparent !important;
  --background-secondary: transparent !important;
  --background-secondary-alt: transparent !important;
  --channeltextarea-background: transparent !important;
  --background-modifier-selected: transparent !important;
  --channels-default: #EFD7FB !important;
  --interactive-active: #EFD7FB !important;
  --scrollbar-auto-thumb: #28003d !important;
  --scrollbar-auto-track: transparent !important;
  --__header-bar-background: transparent !important;
  --home-background: transparent !important;
  --text-normal: #EFD7FB !important;
  --input-background: #28003d !important;
  --brand-experiment: #28003d !important;
  --brand-experiment-560: #28003d !important;
}

.container-q97qHp {
  color: #EFD7FB !important;
}

.scroller-3X7KbA {
  background-color: transparent !important;
}

.icon-2xnN2Y {
  fill: #EFD7FB !important;
}

.activityText-1rR-8O {
  color: #EFD7FB !important;
}

.icon-2W8DHg {
  fill: #EFD7FB !important;
}

.icon-18rqoe {
  color: #EFD7FB !important;
}

.contents-3NembX svg {
  fill: #EFD7FB !important;
}

.item-2GWPIy {
  color: #EFD7FB !important;
}

.option-ayUoaq:after {
  display: none !important;
}

code {
  font-family: monospace !important;
}